<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Detail</title>
</head>
<body>
	<section>
		<!-- Include the patient profile fragment inside home -->
		<div th:fragment="admin_profile">
			<h4 class="text-danger text-center">Profile</h4>
			<table class="table table-bordered table-striped w-100">
				<tr>
					<td><strong>Name</strong></td>
					<td><span th:text="${AdminDetail.name}"></span></td>
				</tr>
				<tr>
					<td><strong>DOB</strong></td>
					<td>: <span th:text="${AdminDetail.dob}"></span></td>
				</tr>
				<tr>
					<td><strong>Gender</strong></td>
					<td>: <span th:text="${AdminDetail.gender}"></span></td>
				</tr>

				<tr>
					<td><strong>Email ID</strong></td>
					<td>: <span th:text="${AdminDetail.emailId}"></span></td>
				</tr>
				<tr>
					<td><strong>Address</strong></td>
					<td>: <span th:text="${AdminDetail.address}"></span></td>
				</tr>
				<tr>
					<td><strong>Mobile No</strong></td>
					<td>: <span th:text="${AdminDetail.mobileNo}"></span></td>
				</tr>
			</table>
		</div>

		<!-- Payment Request -->
		<div th:fragment="admin_payment_requests">
			<h4 class="text-danger text-center">Payment Requests</h4>
			<table class="table table-bordered table-striped w-100">
					<thead>
					<th>Patient Name</th>
					<th>Doctor Name</th>
					<th>Ammount</th>
					<th>Status</th>
					</thead>
					<tbody id="payment_request">
						
					</tbody>
				</table>
		</div>
		<!-- Add Doctor -->
		<div th:fragment="admin_add_doctors">
			<h4 class="text-danger text-center">Add Doctor</h4>
			<div class="d-flex justify-content-end ">
				<div class="detail_container p-4 m-auto reg-cotainer">
					<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert "
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
					</div>
					<form novalidate th:action="@{/add-doctor}" method="post">
						<div class="text-center">
							<img th:src="@{/images/registration.png}" style="width: 80px;">
							<h1>Register Doctor Here</h1>
						</div>

						<div class="row">
							<div class="col">
								<label for="full-name" class="form-label">Full Name</label> <input
									type="text" class="form-control" id="full-name" name="name"
									placeholder="Enter your full name" aria-label="Full Name">
							</div>
							<div class="col">
								<label for="emailId" class="form-label">Email Address</label> <input
									type="email" class="form-control" id="emailId" name="emailId"
									placeholder="Enter your email" aria-label="Email Address">
							</div>
						</div>

						<div class="row">
							<div class="col">
								<label for="mobile" class="form-label">Mobile</label> <input
									type="tel" class="form-control" id="mobile" name="mobileNo"
									placeholder="Enter your mobile number" aria-label="Mobile"
									pattern="[0-9]{10}" required>
							</div>
							<div class="col">
								<label for="specialization" class="form-label">Specialization</label>
								<input type="text" class="form-control" id="specialization"
									name="specialization" placeholder="Enter your specialization"
									aria-label="Specialization" required>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col">
								<label class="form-label d-block">Gender</label> <input
									type="radio" value="Male" class="btn-check" name="gender"
									id="malebtn" autocomplete="off"> <label
									class="btn btn-outline-primary" for="malebtn">Male</label> <input
									type="radio" value="Female" class="btn-check" name="gender"
									id="femalebtn" autocomplete="off"> <label
									class="btn btn-outline-primary" for="femalebtn">Female</label>
							</div>
							<div class="col">
								<label class="form-label">Languages</label> <input type="text"
									class="form-control" id="language" name="language"
									aria-label="languages">
							</div>
						</div>

						<div class="row">
							<div class="col">
								<label for="age" class="form-label">Age</label> <input
									type="number" class="form-control" id="age" name="age"
									aria-label="Age">
							</div>
							<div class="col">
								<label for="experience" class="form-label">Experience
									(Years)</label> <input type="number" class="form-control"
									id="experience" name="experience" aria-label="Experience">
							</div>
						</div>

						<div class="row">
							<div class="col">
								<label for="fees" class="form-label">Fees</label> <input
									type="number" class="form-control" id="fees" name="fees"
									aria-label="Fees">
							</div>
							<div class="col">
								<label for="schedule" class="form-label">Schedule</label> <input
									type="text" class="form-control" id="schedule" name="schedule"
									placeholder="Mon-Fri (10 AM - 4 PM)" aria-label="Schedule">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col">
								<label for="password" class="form-label">Password</label> <input
									type="password" class="form-control" id="password"
									name="password" placeholder="Enter your password"
									aria-label="Password" required>
							</div>
							<div class="col">
								<label for="re-password" class="form-label">Confirm
									Password</label> <input type="password" class="form-control"
									id="re-password" name="rePassword"
									placeholder="Re-enter your password"
									aria-label="Confirm Password" required>
							</div>
						</div>

						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" name="agreement"
								id="agreement" required> <label class="form-check-label"
								for="agreement">I agree to the terms and conditions</label>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

				</div>
			</div>
		</div>
		<!-- Update Doctors -->
		<div th:fragment="admin_update_doctors">
			<h4 class="text-danger text-center">Update Doctors</h4>
			<form class="text-center">
				<input id="doctorId" type="text" />
				<button type="submit" class="text-black bg-primary"
					onclick="loadUpdateDoctor(event)">Search</button>
				<div id="doctorFoundNotFound"></div>
			</form>
			<form method="post" id="doctorForm">

				<table class="table table-bordered table-striped w-100">
					<tbody id="update_doctor_detail">

					</tbody>
				</table>
				<div class="text-center">
					<button type="submit" id="updateDoctorButton"
						onclick="setAction('/update-doctor')"></button>
					<button type="submit" id="deleteDoctorButton"
						onclick="setAction('/remove-doctor')"></button>
				</div>
			</form>
		</div>
		<!-- Records -->
		<div th:fragment="admin_records">
			<h4 class="text-danger text-center">Records</h4>
			<div class="text-center">
				<select id="year" class="form-select w-auto d-inline-block">
					<option value="2025">2025</option>
					<option value="2024">2024</option>
					<option value="2023">2023</option>
				</select> <select id="month" class="form-select w-auto d-inline-block">
					<option value="1">January</option>
					<option value="2">February</option>
					<option value="3">March</option>
					<option value="4">April</option>
					<option value="5">May</option>
					<option value="6">June</option>
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<button class="btn btn-primary" onclick="fetchReport()">Get
					Report</button>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<div class="w-50">
					<table class="table table-bordered table-striped ">
						<tbody id="reportTable"></tbody>
					</table>
				</div>
			</div>



		</div>
	</section>
</body>
</html>